body {
  background-color: grey;
  color: white;
  text-align: center;
  font-family: Tahoma, Arial, Helvetica;
}
h1 { 
  color: black;
  font-size: 2.5em;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10pt;
  width: 80%;
  margin: 10pt auto;
}
img {
    border: 4px solid white;
    border-radius: 40%;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
.gameBoard {
  margin: 10pt auto;
  width: 100%;
}
.you { 
  background-color: green;
  width: 45%;
  display: inline-block;
  border-radius: 10pt;
  padding: 10pt;
  border: 2pt solid black;
}
.you img:hover {
  cursor: pointer;
  background: white;
}
.computer { 
  background-color: red;
  width: 45%;
  display: inline-block;
  border-radius: 10pt;
  padding: 10pt;
  border: 2pt solid black;
}
.selected { 
  background-color: white;
}
.lost { 
  width: 45%;
  display: inline-block;
  border-radius: 10pt;
  padding: 10pt;
  border: 2pt solid black;
  background-color: transparent;
}
#result { 
  color: white;
  font-size: 2em;
  background-color: rgba(0,0,255,0.5);
  border-radius: 10pt;
  margin: 10pt auto;
  padding: 5pt;
  width: 50%;
}
#score { 
  color: white;
  font-size: 2em;
  background-color: rgba(0,255,255,0.5);
  border-radius: 10pt;
  margin: 10pt auto;
  padding: 5pt;
  width: 30%;
} 

#resetButton { 
  color: white;
  font-size: 2em;
  background-color: rgba(255,0,0,0.5);
  border-radius: 10pt;
  margin: 10pt auto;
  padding: 5pt;
  width: 20%;
} 
#resetButton:hover { 
  background-color: rgba(255,0,255,0.5);
} 
